
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header-Oswell {
  color: #333;
  margin-top: 20px;
}

.header-CV {
  color: #666;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  display: none;
  margin-bottom: 30px;
}

.section.active {
  display: block;
}

.box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.box h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.content {
  color: #555;
}

.nav-menu {
  margin-bottom: 20px;
  text-align: center;
}

.nav-ul {
  list-style-type: none;
  padding: 0;
}

.nav-li {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.1em;
}

.nav-li a {
  text-decoration: none;
  color: #666;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-li a:hover {
  background-color: #f0f0f0;
}

.nav-li.active a {
  background-color: #007bff;
  color: #fff;
}

.nav-li.active a:hover {
  background-color: #0056b3;
}
.icon {
  width: 40px;
  height: 40px;
}
.myicon {
  width: 90px;
  height: 50px;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.icon1 {
  width: 70px;
  height: 40px;
}
.Skills-section {
  display: flex;
  flex-wrap: wrap; /* Allows icons to wrap to a new line if space is limited */
  justify-content: flex-start; /* Align items to the left */
  gap: 20px; /* Adjust spacing between icons */
}

/* Style for individual icons and text */
.Skills-section .icon,
.Skills-section h6 {
  margin: 0; /* Remove default margins */
}

/* Adjustments for specific icons */
.Skills-section .icon {
  width: 50px; /* Adjust width of icons as needed */
  height: 50px; /* Adjust height of icons as needed */
}

.Skills-section .icon1 {
  width: 50px; /* Adjust width of icons as needed */
  height: 50px; /* Adjust height of icons as needed */
}
.links_container {
  align-content: center;
}