.header0 {
  background-color: #555;
  width: 100%;
}
.header {
  background-color: #db6f04;
  display: block;
  padding: 0px;
  text-align: center;
  font-size: large;
  float: left;
  position: fixed;
  width: 30%;
  height: 100%;
  margin-top: 0%;
}

.nav-menu {
  margin-left: 0px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
  background-color: dimgrey;
  border: 1px solid #04aa6d;
  height: 100%;
  position: fixed;
  overflow: auto;
  margin-top:176px;
}

.active a {
  text-align: center;
  background-color: #04aa6d;
  border-bottom:1px #555;
  display: block;
  color: aliceblue;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-li a {
  text-align: center;
  border-bottom: 1px solid #555;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-li a:hover{
background-color: #555;
color: white;
}

.nav-li a:hover:not(.active) {
  background-color: #db6f04;
  color: white;
  width: 100%;
}

.nav-li:last-child {
  border-bottom: none;
}

.nav-li a.active {
  background-color: #04aa6d;
}

.container {
  float: right;
  width: 60%;
  display:flexbox;
}
